@use "./image-form";
@use "./saved-images";

@mixin asideMixin($x) {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 350px;
  transform: translateX($x);
  transition: 500ms;

  .aside-inner {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    right: .75rem;
    padding-right: 1.25rem;
    left: 2rem;
    overflow-y: scroll;
  }
}

.aside {
  @include asideMixin(0);
}

.aside-hidden {
  @include asideMixin(-100%);
}