@use "./image-form";
@use "./saved-images";
@use "@styles/mq" as *;

.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -$mobile-l;
  transition: 500ms;
  padding: 2rem;
  overflow: auto;
  width: 100%;

  @include min-width(mobile-l){
    max-width: $mobile-l;
  }
}