.center {
  z-index: 1;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.clock {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  height: max-content;

  .time {
    font-size: 6rem;
    font-weight: 700;
    color: var(--white-1);
    line-height: 0.85;
  }
  .meridiem {
    font-size: 2.5rem;
    line-height: 1;
    color: var(--primary);
  }
}

.search-bar-wrapper {
    width: 100%;

    .google-icon {
      order: 0;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
      line-height: 1rem;
    }

    input:focus ~ .google-icon {
      iconify-icon {
        color: var(--primary);
      }
    }
}