@use "../utility/mq" as *;

.aside {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -$mobile-l;
  transition: 500ms;
  padding: 1rem;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  @include min-width(mobile-l) {
    max-width: $mobile-l;
    padding: 2rem;
  }
}
