.checkbox {
  border-radius: 50%;
  border: 2px solid var(--primary);
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  place-items: center;

  &.checked::after {
    @keyframes scale {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(100%);
      }
    }
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--primary);
    animation-name: scale;
    animation-duration: 150ms;
    animation-fill-mode: backwards;
  }
}
