@use "../utility/mq" as *;

.description {
  line-height: 1.6;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: var(--black-1);
  -webkit-backdrop-filter: var(--bg-blur);
  backdrop-filter: var(--bg-blur);

  @include min-width(600px) {
    max-width: 400px;
  }
}
