.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.63rem 1rem;
  background-color: var(--black-1);
  -webkit-backdrop-filter: var(--bg-blur);
  backdrop-filter: var(--bg-blur);
  border-radius: 1.25rem;
  cursor: pointer;

  input {
    order: 1;
    background: none;
    border: none;
    outline: none;
    color: var(--white-1);
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    cursor: text;
    width: 100%;
  }

  iconify-icon {
    order: 2;
    color: var(--white-1);
    // font-size: 1.5rem;
    transition: 200ms;
    color: var(--white-2);
  }

  input:focus ~ iconify-icon,
  textarea:focus ~ iconify-icon {
    color: var(--primary);
  }
}
