.thumbnail-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--white-4);
    -webkit-backdrop-filter: var(--bg-blur);
    backdrop-filter: var(--bg-blur);
    border-radius: 20px;
}