@use "./utility/colors";
@use "./utility/font";
@use "./utility/effects";
@use "./utility/inputs";
@use "./utility/mq" as *;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  text-shadow: var(--shadow);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
