@use './colors';
@use './font';
@use './effects';
@use './buttons';

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-shadow: var(--shadow);
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}