@use "./colors";
@use "./font";
@use "./effects";
@use "./inputs";
@use "./mq" as *;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  text-shadow: var(--shadow);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
