@use "./arrows";

@mixin wrapperMixin() {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 500ms cubic-bezier(.43,0,.31,1);
}

.wrapper {
  @include wrapperMixin();
}

.wrapper-moved {
  @include wrapperMixin();
  min-width: 900px;
  transform: translateX(350px);
}

